
main .head{
    text-align: center;
}
main .head h1{
    font-size: 6rem;
    display: block;
}
main .head .ii{
    
    height: 25rem;
    background-color: aqua;
}
main .to{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
}
main .to .hidari,main .to .migi{
    /* background-color: aqua; */
    width: 35%;
    height: 26rem;
    margin:  0 4rem 5.8rem 4rem;
    /* margin:  0 1rem 7rem; */
    background-color: rgb(230, 227, 223);
}


/* わかんないところ */
.line{
    width: 1px;
    border: 0.5px solid;
    
}
.line-bottom{
    width: 1px;
    border: 0.5px solid;
    height: 26rem;
}



.head+.to{
    margin-top: 13rem;
}

main .to .hidari .img,main .to .migi .img{
    width: 100%;
    height: 50%;
    background-color: rgb(135, 135, 135);
}
main .to .hidari .bun,main .to .migi .bun{
    text-align: left;
    padding: 0 4rem;
}
main .to .hidari .bun h3,main .to .migi .bun h3{
    display: block;
    margin: 1rem 1rem 1rem 0;
    font-size: 1.5rem;
}
main .to .hidari .address,main .to .migi .address{
    text-align: right;
    padding: 0.5rem 1rem;
    background-color: rgb(230, 227, 223);
    width: 100%;
}
.address{
    word-break: break-all;
    width: 100%;
}
